// base.scss
$font-stack:    Helvetica, sans-serif;
$primary-color: #555;
$heading-color: #333;

html {
    min-height: 100%;
    display: flex;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background:#eee;
  align-items: center;
  justify-content: center;
  flex: 1;
  display:flex;
}

h1{color:$heading-color;}
p{text-align: center;}

@keyframes hoverstyle {
  0% {
    // normal
    background: white;
  }
  100% {
    // hover
    background:black;
  }
}

.demo > div {
  animation-name: hoverstyle;
  animation-duration: 10ms;
  animation-play-state: paused;
  animation-fill-mode: both;

  width:5px;
  height:5px;

  display:inline-block;
}

.demo > div:hover {
  animation-play-state: running;
}



.demo{
  display:flex;
  flex-wrap:wrap;
  padding:5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  width:600px;
  margin:0 auto;
  background:white;
  opacity:0;
  transition:.3s
}
.in .demo{
  opacity:1;
}

.in p{
  display:none;
}
